/* Звернення до id */
#site-title {
    text-align: center;
    color: #4CAF50;
}

/* Звернення до класів */
.introduction {
    font-size: 1.2em;
    line-height: 1.6;
}

.work-info {
    font-weight: bold;
}

.company-name {
    color: #007BFF;
}

.pet-info {
    font-style: italic;
}

#main-nav .menu {
    list-style: none;
    padding: 0;
    text-align: center;
}

.menu-item {
    display: inline-block;
    margin: 0 15px;
}

.menu-item a {
    text-decoration: none;
    color: #333;
}

